<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
مقادیر گم‌شده در ویژگی‌های دسته‌ای
</font>
</h1>

In [1]:
import pandas as pd
import numpy as np

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
 مجموعه‌داده
</font>
</h2>

In [2]:
data = pd.DataFrame({'A': [45, 22, 24, 14, 7, 6], 'B': ['category1', np.nan, 'category2', 'category1', np.nan, 'category1']})
data

    A          B
0  45  category1
1  22        NaN
2  24  category2
3  14  category1
4   7        NaN
5   6  category1

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
۱. پر کردن با متداول‌ترین دسته
</font>
</h2>

In [3]:
method1 = data.copy()
method1['B'].fillna(method1['B'].mode()[0], inplace=True)
method1

C:\Users\josef\AppData\Local\Temp\ipykernel_7888\1511349841.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  method1['B'].fillna(method1['B'].mode()[0], inplace=True)

    A          B
0  45  category1
1  22  category1
2  24  category2
3  14  category1
4   7  category1
5   6  category1

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
۲. اضافه کردن متغیر وزن
</font>
</h2>

In [4]:
method2 = data.copy()
method2['B_Weight'] = np.where(method2['B'].isnull(), 1, 0)
method2['B'].fillna(method2['B'].mode()[0], inplace=True)
method2

C:\Users\josef\AppData\Local\Temp\ipykernel_7888\1039891020.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  method2['B'].fillna(method2['B'].mode()[0], inplace=True)

    A          B  B_Weight
0  45  category1         0
1  22  category1         1
2  24  category2         0
3  14  category1         0
4   7  category1         1
5   6  category1         0

<h2 dir=rtl align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazirmatn" color="#0099cc">
۳. ایجاد یک دسته‌ی جدید
</font>
</h2>

In [5]:
method3 = data.copy()
method3['B'].fillna('Unknown', inplace=True)
method3

C:\Users\josef\AppData\Local\Temp\ipykernel_7888\2086909928.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  method3['B'].fillna('Unknown', inplace=True)

    A          B
0  45  category1
1  22    Unknown
2  24  category2
3  14  category1
4   7    Unknown
5   6  category1